body {
  padding-top: 70px;
  background-color: #f5f5f5;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.navbar {
  opacity: .9;
  background-image: url("http://static1.1.sqspcdn.com/static/f/642352/17491449/1333574682843/clouds.jpg?token=fRyOo9EzrjktIDghNQYheCU9OiE%3D");
  background-position: center;
}
.navbar .logo {
  color: white;
}
.navbar .logo:hover {
  color: white;
  background-color: #337ab7;
}
.navbar .navbar-nav > .refresh-btn a {
  color: white;
}
.navbar .navbar-nav > .refresh-btn a:hover {
  color: white;
  background-color: #337ab7;
}
.navbar .dropdown > .name-dropdown {
  color: white;
}
.navbar .dropdown > .name-dropdown #notification-badge {
  background-color: #337ab7;
}
.navbar .dropdown > .name-dropdown:hover {
  color: white;
  background-color: #337ab7;
}
.logo span {
  margin-left: 5px;
}
.logo .img-logo {
  height: 20px;
  display: inline;
}
.new-data-alert {
  color: white;
  font-size: 12px;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  text-align: center;
  position: absolute;
  left: 50%;
  width: 120px;
  margin-left: -60px;
  top: 50px;
  border-radius: 0px 0px 5px 5px;
}
.new-data-alert a {
  color: white;
}
#personal-bar .panel {
  padding-top: 10px;
  padding-bottom: 10px;
}
#personal-bar .profile-pic {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10000px;
}
#personal-bar .profile-pic .upload-profile-pic-btn {
  text-decoration: underline;
  position: absolute;
  top: 40px;
  color: white;
  width: 100px;
  text-align: center;
  display: none;
}
#personal-bar .profile-pic img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
#personal-bar .profile-pic:hover {
  cursor: pointer;
}
#personal-bar .profile-pic:hover .upload-profile-pic-btn {
  display: block;
  z-index: 1;
}
#personal-bar .profile-pic:hover img {
  -webkit-filter: brightness(80%);
}
#personal-bar .users-name {
  text-align: center;
  width: 100%;
}
#personal-bar .users-info .users-friends {
  color: gray;
  display: inline-block;
  border-right: 1px solid #ddd;
  width: 49%;
  text-align: right;
  padding: 10px;
}
#personal-bar .users-info .users-status {
  color: gray;
  padding: 8px;
  margin: 0px;
  display: inline-block;
  width: 49%;
}
#personal-bar .users-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.picture-btn,
.cancel-picture-btn {
  position: absolute;
  right: 10px;
  top: -4px;
}
.post-picture-btn {
  position: absolute;
  right: 106px;
  top: 0px;
}
.post-picture-btn button {
  border-radius: 0px 4px 4px 0px;
}
.upload-photo {
  display: none;
  margin-top: 10px;
  margin-bottom: 0px;
}
.upload-photo .panel {
  margin-bottom: 0px;
}
.upload-photo .panel button {
  margin-top: 0px;
}
.post-textarea {
  padding-right: 30px;
}
.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}
.post-btn-group {
  padding-top: 10px;
}
.post-btn-group button {
  border: none;
  background: none;
  color: #337ab7;
}
.post-btn-group button:hover {
  text-decoration: underline;
  color: #23527c;
}
.post-toolbar {
  margin-top: 5px;
}
.post-reply blockquote {
  font-size: 14px;
}
.img-panel img {
  flex-shrink: 0;
  min-width: 100%;
}
.img-panel img {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
}
.img-panel img:hover {
  cursor: pointer;
  -webkit-filter: grayscale;
  /*sepia, hue-rotate, invert....*/
  -webkit-filter: brightness(80%);
}
.videoWrapper {
  position: relative;
  padding-bottom: 57%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.friend-count,
.friends-search {
  width: 100%;
  text-align: right;
  color: #666;
}
.friend-profile {
  height: 100px;
  overflow: hidden;
}
.friend-profile .friend-img {
  position: relative;
  top: 20px;
  left: 10px;
  height: 60px;
  width: 60px;
  display: inline-block;
  overflow: hidden;
  border-radius: 10000px;
}
.friend-profile .friend-img img {
  height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
.friend-profile .friend-info {
  text-align: center;
  width: 170px;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 12px;
}
.friend-profile .friend-info .friend-name {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}
.friend-profile .friend-info .friend-btn-group {
  position: relative;
  top: 10px;
}
.footer {
  text-align: center;
  padding: 10px;
}
.footer ul {
  text-align: left;
}
.footer .info {
  text-align: left;
}
.footer address {
  margin-top: 15px;
}
#img-modal > .modal-dialog {
  width: 70%;
}
#img-modal > .modal-dialog img {
  width: 100%;
}
#img-modal > .modal-dialog .img-info {
  left: 30px;
  top: 20px;
  padding-right: 20px;
  position: absolute;
  color: white;
  text-shadow: 0px 0px 3px #000000;
}
#img-modal > .modal-dialog .img-info .img-author {
  font-weight: bold;
  font-size: 24px;
}
#img-modal > .modal-dialog .img-info .img-comment {
  font-size: 18px;
  font-weight: bold;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
